extends layout

block content
  #listings
    each listing in listings
      .listing
        .img
        .details
          span.name #{listing.attributes.name}
          span.price $#{listing.attributes.price}
        a(href="/item?id=" + listing.id) >

    script(src="/js/index.js")
