extends layout

block content
  #header
    #title
      h1 SiteName

    #navigation
      #search
        input
        button Search
      #buttons
        a List
        a Profile


  #listings
    .listing
      .img
      .details
        span.name Chair
        span.price $5
      a >

    .listing
      .img
      .details
        span.name Chair
        span.price $5
      a >

    .listing
      .img
      .details
        span.name Chair
        span.price $5
      a >

    .listing
      .img
      .details
        span.name Chair
        span.price $5
      a >
