extends layout

block content
  #listings
    each listing in listings
      .listing
        img(src=listing.attributes.image.url())
        .details
          span.name 
            a(href="/item?id=" + listing.id) #{listing.attributes.name}
          span.price $#{listing.attributes.price}

    script(src="/js/index.js")
