extends layout

block content
  #wrapper
    #center
      h2 List an Item to Rent
      #content
        form
          input(value="Name")#name
          input(value="Price per day")#price
          textarea#description Describe the item...
          input(type="submit")#submit List!

      #image
        .small-img
        .small-img
        .small-img

        a Upload image

  script(src="/js/list.js")
