extends layout

block content
  #wrapper
    #center
      h2 List an Item to Rent
      #content
        form
          input(value="Name")#name
          input(value="Price per day")#price
          textarea#description Describe the item...
          input(type="submit")#submit List!

      #image
        form
          input(type="file")#file
          input(type="submit", value="Upload")#upload

  script(src="/js/list.js")
