extends layout

block content
  #header
    #title
      h1 SiteName

    #navigation
      #search
        input
        button Search
      #buttons
        a List
        a Profile

  #wrapper
    #center
      h2 List an Item to Rent
      #content
        form
          input(value="Name")
          input(value="Price per day")
          textarea Describe the item...
          input(type="submit")#submit List!

      #image
        .small-img
        .small-img
        .small-img

        a Upload image


