extends layout

block content
  #wrapper
    #center
      h2 List an Item to Rent
      #content
        form
          input(placeholder="Name")#name
          input(placeholder="Price per day")#price
          textarea#description(placeholder="Describe the item...")
          input(type="submit")#submit List!

      #image
        form
          input(type="file")#file
          input(type="submit", value="Upload")#upload

  script(src="/js/list.js")
