extends simpleLayout

block content
  #wrapper
    #form-center
      #content
          h2 Login to SITE NAME
          form
            input(value="jdoe@andrew.cmu.edu")#email
            input(value="password", type="password")#password
            input(type="submit")#submit Register

  script(src="/js/login.js")
