extends simpleLayout

block content
  #wrapper
    #form-center
      #content
          h2 Login to ShareIt!
          form
            input(value="jdoe@andrew.cmu.edu")#email
            input(value="password", type="password")#password
            input(type="submit")#submit Register

          h3 Need an account? 
            a(href="/register")#register Register here

  script(src="/js/login.js")
