extends simpleLayout

block content
  #wrapper
    #form-center
      #content
          h2 Register for ShareIt!
          form
            input(value="John Doe")#name
            input(value="jdoe@andrew.cmu.edu")#email
            input(value="password", type="password")#password
            input(value="password", type="password")#confirm
            input(type="file", value="Choose a profile picture!")#profpic
            input(type="submit")#submit Register

  script(src="/js/register.js")
