body, html {
	float: left;
	width: 100%;
	height: 100%;
	background-color: #DDD;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: none;
}

/**
 * HEADER
 */
a {
  color: #00B7FF;
  text-decoration: none;
}

#header {
	float: left;
	height: 160px;
	width: 100%;
}

#title {
	float: left;
	width: 100%;
	height: 96px;
	background-color: #A02C2C;
}

#title h1 a {
	color: #FFF;
	text-align: center;
	line-height: 50px;
	margin-left: 50%;
}

#navigation {
	float: left;
	background-color: #E9AFAF;
	width: calc(100% - 16px);
	height: 48px;
	padding: 8px;
}

#search {
	float: left;
	height: 100%;
	width: calc(100% - 451px);
	border-right: 4px solid #A02C2C;
}

#search input {
	position: relative;
	background-color: #FFF;
	padding-left: 8px;
	height: 46px;
	width: calc(100% - 124px);
	border: none;
	outline: none;
	font-size: 24px;
}

#search button {
	vertical-align: top;
	margin-left: 8px;
	height: 100%;
	width: 100px;
	background-color: #A02C2C;
	border: none;
	outline: none;
	color: #FFF;
	font-size: 20px;
}

#buttons {
	width: 440px;
	height: 100%;
	float: left;
}

#buttons a {
	float: left;
	display: block;
	margin-left: 8px;
	height: 100%;
	width: 100px;
	background-color: #A02C2C;
	color: #FFF;
	font-size: 20px;
	line-height: 48px;
	text-align: center;
}

/**
 * LISTINGS
 */
#listings {
	float: left;
	width: 100%;
}

img {
	height: 250px;
	width: auto;
	background-color: #CCC;
	margin: 0px auto 8px auto;
	clear: right;
}

.listing {
	display: inline-block;
	padding: 16px;
	margin-top: 16px;
	margin-left: 16px;
	border: 1px solid #CCC;
	box-shadow: 3px 3px 3px #999;
	background-color: #FFF;
}

.details {
	display: block;
}

.name a {
	display: block;
	font-size: 32px;
	color: #A02C2C;
	text-decoration: underline;
}

.price {
	display: block;
	font-size: 24px;
	color: #000;
}

/**
 * LIST PAGE
 */
#wrapper {
	width: 100%;
	float: left;
}

#center {
	width: 850px;
	margin: 16px auto;
}

#center h2 {
	font-size: 36px;
	color: #A02C2C;
	margin-bottom: 8px;
}

#content {
	float: left;
	width: 484px
	padding-right: 16px;
}

#content form {
	float: left;
	width: 484px;
}

#content input {
	float: left;
	width: 460px;
	height: 32px;
	outline: none;
	margin-bottom: 8px;
	border: 1px solid #CCC;
	padding-left: 8px;
	color: #CCC;
	font-size: 24px;
}

#content input:focus {
	border-color: #A02C2C;
	color: #A02C2C;
}

#content textarea {
	width: 454px;
	height: 300px;
	font-size: 16px;
	border: 1px solid #CCC;
	color: #CCC;
	padding: 8px;
}

#content textarea:focus {
	outline: none;
	color: #A02C2C;
	border-color: #A02C2C;
}

#submit {
	display: block;
	background-color: #A02C2C;
	color: #FFF!important;
	width: 472px!important;
	height: 56px!important;
}

#image {
	float: left;
	width: 350px;
}

#image form {
	width: 350px;
}

#file {
	width: 350px;
}

#upload {
	width: 350px;
	outline: none;
	border: none;
	background: #A02C2C;
	color: #FFF;
	height: 50px;
	display: block;
	font-size: 24px;
	margin-top: 8px;
}

#image a {
	display: block;
	width: 350px;
	background-color: #A02C2C;
	color: #FFF;
	font-size: 24px;
	height: 48px;
	text-align: center;
	line-height: 48px;
	margin-top: 8px;
}

/*
 * ITEM PAGE
 */
#content {
	width: 500px;
}
#content h2 {
	margin-top: 0px;
	width: 460px;
}

#content h3 {
	float: left;
	margin-top: 16px;
}

#content textarea {
	height: 150px;
}

#content a {
	display: block;
	background-color: #A02C2C;
	color: #FFF;
	height: 48px;
	width: 100px;
	text-align: center;
	line-height: 48px;
	font-size: 18px;
}

.review p {
	float: left;
	display: block;
	margin-top: 0px;
	margin-bottom: 32px!important;
	width: 100%;
	color: #666;
}

#content span {
	display: block;
	float: left;
	font-size: 24px;
	color: #000;
	width: 460px;
}

.review span {
	display: block;
	float: left;
	font-size: 12px!important;
	color: #666!important;
}

#content p {
	width: 460px;
	float: left;
	font-size: 16px;
	color: #000;
	margin-top: 8px;
}

#image img {
	max-width: 460px;
	height: auto;
}

/*
 * PROFILE PAGE
 */
#sidebar-wrap {
	float: left;
	width: 300px;
	height: 100%;
	padding-left: 16px;
}

#sidebar {
	width: 286px;
	float: left;
	margin-top: 16px;
	background-color: #A02C2C;
	padding: 8px;
}

#sidebar h2 {
	color: #FFF;
	font-size: 32px;
	margin-bottom: 8px;
}

#sidebar span {
	color: #FFF;
	font-size: 18px;
	font-weight: normal;
	margin: none!important;
}

.profile-img {
	width: 286px;
	height: 286px;
	background-color: #CCC;
}

#profile-listings {
	float: left;
	width: calc(100% - 332px);
}

/*
 * LOGIN/REGISTER
 */
#form-center {
	width: 400px;
	margin: 16px auto;
}

#form-center h2 {
	font-size: 36px;
	color: #A02C2C;
	margin-bottom: 8px;
}

#register {
	display: inline!important;
	color: #A02C2C!important;
	text-decoration: underline;
	font-size: 16px!important;
	background: none!Important;
}

#profpic {
	line-height: 10px;
	padding-top: 16px;
	font-size: 12px!Important;
}
